.category-title{
    position: absolute;
    font-size: 17px;
    text-transform: capitalize;
    line-height: 64px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 25px;
    color: #fff;
    background-color: rgba(0,0,0,.2);
    transition: opacity .5s;
}