
   <div class="calculator-wrapper">
    <div class="type-wrapper">
        <div class="types">
            <h1 class="types__heading"> How much does it cost to make an App? </h1>
            <div class="types__holder">
                <div class="types__wrapper" (click)="choose('existing')">
                    <div class="types__entry">
                        <h2 class="types__entry__title"> Like existing Apps </h2>
                        <p class="types__entry__description"> Uber, Instagram, Airbnb, Whatsapp etc. </p>
                        <div class="types__entry__picture-holder type-1"><img alt="An image" class="types__entry__picture" src="https://cleveroad.com/images/article-previews/calc-category-1.png"></div>
                    </div>
                </div>
                <div class="types__wrapper" (click)="choose('business')">
                    <div class="types__entry">
                        <h2 class="types__entry__title"> For my own business </h2>
                        <p class="types__entry__description"> Cars &amp; Transport, Social networking, Travel, Health &amp; Beauty etc. </p>
                        <div class="types__entry__picture-holder type-2"><img alt="An image" class="types__entry__picture" src="https://cleveroad.com/images/article-previews/calc-category-2.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
